<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>15-ajax-jquery</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloAjax</display-name>
    <servlet-name>HelloAjax</servlet-name>
    <servlet-class>ajax.HelloAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAjax</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getmsg</display-name>
    <servlet-name>Getmsg</servlet-name>
    <servlet-class>ajax.Getmsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getmsg</servlet-name>
    <url-pattern>/getmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postmsgServlet</display-name>
    <servlet-name>postmsgServlet</servlet-name>
    <servlet-class>ajax.postmsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postmsgServlet</servlet-name>
    <url-pattern>/postmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkUsrServlet</display-name>
    <servlet-name>checkUsrServlet</servlet-name>
    <servlet-class>web.servlets.checkUsrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUsrServlet</servlet-name>
    <url-pattern>/checkUsr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeloJqueryAjax</display-name>
    <servlet-name>HeloJqueryAjax</servlet-name>
    <servlet-class>web.servlets.HeloJqueryAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeloJqueryAjax</servlet-name>
    <url-pattern>/heloJqueryAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchkwServlet</display-name>
    <servlet-name>SearchkwServlet</servlet-name>
    <servlet-class>web.servlets.SearchkwServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchkwServlet</servlet-name>
    <url-pattern>/searchkw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProvinces</display-name>
    <servlet-name>GetProvinces</servlet-name>
    <servlet-class>web.servlets.GetProvinces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProvinces</servlet-name>
    <url-pattern>/getProvinces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>City</display-name>
    <servlet-name>City</servlet-name>
    <servlet-class>domain.City</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>City</servlet-name>
    <url-pattern>/City</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCities</display-name>
    <servlet-name>GetCities</servlet-name>
    <servlet-class>web.servlets.GetCities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCities</servlet-name>
    <url-pattern>/getCities</url-pattern>
  </servlet-mapping>
</web-app>