<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>04-http-request-response</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletDemo1</display-name>
    <servlet-name>servletDemo1</servlet-name>
    <servlet-class>redirection.servletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo1</servlet-name>
    <url-pattern>/servletDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletDemo2</display-name>
    <servlet-name>servletDemo2</servlet-name>
    <servlet-class>redirection.servletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDemo2</servlet-name>
    <url-pattern>/servletDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTable</display-name>
    <servlet-name>ShowTable</servlet-name>
    <servlet-class>Resp.ShowTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTable</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadServlet</display-name>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>download.downloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerCodeServlet</display-name>
    <servlet-name>VerCodeServlet</servlet-name>
    <servlet-class>verificationCode.VerCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerCodeServlet</servlet-name>
    <url-pattern>/verification-code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestLine</display-name>
    <servlet-name>RequestLine</servlet-name>
    <servlet-class>request.RequestLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestLine</servlet-name>
    <url-pattern>/RequestLine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHeader</display-name>
    <servlet-name>RequestHeader</servlet-name>
    <servlet-class>request.RequestHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeader</servlet-name>
    <url-pattern>/RequestHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestParameter</display-name>
    <servlet-name>RequestParameter</servlet-name>
    <servlet-class>request.RequestParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParameter</servlet-name>
    <url-pattern>/para</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormPara</display-name>
    <servlet-name>FormPara</servlet-name>
    <servlet-class>request.FormPara</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormPara</servlet-name>
    <url-pattern>/FormPara</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServer1</display-name>
    <servlet-name>ForwardServer1</servlet-name>
    <servlet-class>request.forward.ForwardServer1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServer1</servlet-name>
    <url-pattern>/forward1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServer2</display-name>
    <servlet-name>ForwardServer2</servlet-name>
    <servlet-class>request.forward.ForwardServer2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServer2</servlet-name>
    <url-pattern>/forward2</url-pattern>
  </servlet-mapping>
</web-app>